<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img src="favicon.ico" />
    <span>Chat EPSI -</span>
      <div class="spacer"></div>
  </div>
  
  <div class="content" role="main">
    <div class="card-container">
        <div class="sidenav">
          <p id="p-sidenav" >Salons</p>
            <a href="#">Salon #0</a>
            <a href="#">Salon #1</a>
            <a href="#">Salon #2</a>
            <a href="#">Salon #3</a>
          </div>
          
          <div id="connexion">
            <form>
              <input id="name" type="text" placeholder="Pseudo" /><br>
              <input type="button" required="required" value="Se connecter" routerLink="/accueil" />
            </form>
          </div>
  
    </div>
  
    <!-- Footer -->
    <footer>
    </footer>
  
  </div>
  